.card {
  background-color: #ffffff;
  color: #0f172a;
  display: flex;
  flex-direction: column;
  gap: 24rem;
  border-radius: 12rem;
  border: 1px solid #e2e8f0;
}

.header {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-rows: auto auto;
  align-items: flex-start;
  gap: 6rem;
  padding: 24rem 24rem 0 24rem;

  &:has([data-slot="card-action"]) {
    grid-template-columns: 1fr auto;
  }
}

.title {
  line-height: 1;
  font-weight: 600;
}

.description {
  color: #64748b;
  font-size: 14rem;
}

.action {
  grid-column-start: 2;
  grid-row: 1 / span 2;
  align-self: flex-start;
  justify-self: flex-end;
}

.content {
  padding: 0 24rem;
  
  &:last-child {
    padding-bottom: 24rem;
  }
}

.footer {
  display: flex;
  align-items: center;
  padding: 0 24rem 24rem 24rem;
}