.progress {
  position: relative;
  height: 8rem;
  width: 100%;
  overflow: hidden;
  border-radius: 9999px;
  background-color: rgba(3, 2, 19, 0.1);
}

.indicator {
  background-color: var(--primary);
  height: 100%;
  width: 100%;
  flex: 1;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
